{% apply inline_css(source('@styles/app.css')) %}
<div>
    <h3 class="display-3">Bonjour,</h3>
    <p class="mb-3">Nous avons reçu une demande de mot de passe oublié pour votre compte. Si vous n'êtes pas l'auteur de cette demande, ignorez ce message. Sinon, cliquez sur le lien en dessous.</p>
    <a href="{{ app_url }}{{ path('reset_password', {'user_id': user.getId, 'forgot_password_token': forgot_password_token}) }}" class="btn btn-primary">Changer de mot de passe</a>
</div>
{% endapply %}
